@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
    background-color: black;
}
.layout{
    display: flex;
}
.vertical{
    flex-direction: column;
}
.horizontal{
    flex-direction: row;
}
.right{
    align-self: flex-end; 
}
.flex{
    flex: 1;
}
.big{
    flex: 2; 
}
.center{
    align-items: center;
}
.justify{
    justify-content: center;
}
.start{
    align-items: flex-start;
}
.stretch{
    align-self: stretch; 
}
.sitecontainer{
    height: 100%;
    width: 100%;
}
.canvas{
    background-image: url("assets/background.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
}
.menu{
}
.button{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px; 
    color: white; 
    font-weight: bold;
    margin: 0px; 
    height: 54px; 
    background: rgb(255,0,0,0.2);
    text-align: center;
}
.button:hover{
    background: rgba(255,0,0, 0.3);
}
a{
    color: white; 
    text-decoration: none;
}
video{
    position: fixed; 
    margin: 0;
    height:100%;
    width:100%;
}
.centertext{
    text-align: center;
}
h1{
    font-size: 40px; 
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px; 
    color: white; 
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px; 
    color: white; 
    font-weight: bold;
    margin: 8px; 
    margin-top: 20px; 
}
input{
    width: 80px;
    border: 0;
    outline: 0;   
    border-bottom: 2px solid black; 
    margin-bottom: 2px;   
}
.title{
    height: 50px;
    background-color: white; 
}
.synopsiscontainer{
    background: rgb(255,0,0,0.2);
    padding: 50px; 
}
.reviewcontainer{
    margin: 0; 
}
.poster{
    height: 550px; 
    width: 387px;
    margin: 20px; 
    box-shadow: 0px 3px 3px 2px rgba(0,0,0,0.3);  
}
.side{
    width: 340px; 
}
span{
    font-size: 25px; 
}
.castcrewcontainer{
    background: rgb(255,0,0,0.2);
    padding: 50px; 
}
li{
    list-style: none;
    color: white; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px; 
    font-weight: bold; 
}
ol{
    margin: 0; 
}
.castcrew{
    width: 300px; 
    margin-top: 8px; 
    margin-left: 8px; 
}
.logo{
    width: 128px; 
    height: 54px; 
    background-color: rgba(255,0,0, 0.2);;
}
.estrellitas{
    padding: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.boxcontainer{
    margin: 20px;  
}
.gallery{
    box-shadow: 0px 3px 3px 2px rgba(0,0,0,0.3);  
    margin: 20px; 
}
.picvertical{
    height: 400px; 
}
.pichorizontal{
    width: 400px; 
    height: 292px; 
}
.synopsistext{
    width: 600px; 
}
.footer{
    margin-top: 20px;
    margin: 8px; 
    width: 128px; 
    height: 30px;
}
.videocontainer{
    margin: 20px;
}